---
import RootLayout from "../layouts/RootLayout.astro";



---


<RootLayout title="Prospect">

	<div class="container">
		<h1 class="title">Página en mantenimiento...</h1>
	</div>

</RootLayout>

<style>
	.lucho {
		display: block;
		width: 900px;
		margin: auto;

		animation: fade-in 10s infinite;
	}

	.container{
		width: 100%;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		30% {
			opacity: 1;
		}
		70% {
			opacity: 1;
			scale: 1;
		}
		100% {
			opacity: 0;
			scale: 1.5;
		}
	}
	
</style>