---
import ContactForm from "../components/ContactForm.astro";
import RootLayout from "../layouts/RootLayout.astro";

import contact_form_bg from "../assets/contact_form_bg.webp";

---


<RootLayout title="Prospect">

	<div class="container">
		<h1 class="title p-5 my-5 text-center">Página en mantenimiento...</h1>
	</div>

	<section class="Contact" id="Contacto">

		<div>

			<div class="Contact-content container">

				<div class="Contact-form">
	
					<ContactForm />
	
				</div>
	
				<div class="Contact-info">
					<div>
						<h2>Empecemos</h2>
		
						<p>Completa nuestro formulario y haz que tu visión cobre vida. Estamos listos para empezar tu próximo proyecto.</p>
					</div>
				</div>

			</div>

		</div>

	</section>


</RootLayout>

<style

	define:vars={{
		"contact-form-background": `url("${contact_form_bg.src}")`
	}}
>
	
	
	.Contact {
		background-image: var(--contact-form-background);
		background-repeat: no-repeat;
		background-size: cover;

	}
	.Contact > div {

		background-color: rgba(0, 0, 0, 0.7);
	}

	.Contact-content {
		display: flex;
		flex-wrap: wrap-reverse;
		gap: 50px;
		justify-content: space-around;
		padding: 50px 20px;
	}

	.Contact-info {
		margin: 0 auto;
	}
	.Contact-info h2 {
		color: #fff;
		font-weight: bold;
		font-size: clamp(50px, 10vw, 80px);
	}
	.Contact-info p {
		margin-top: 20px;
		color: #fff;
		max-width: 40ch;
		font-size: clamp(16px, 5vw, 30px);
		font-weight: 400;
		text-wrap: balance;
	}

	.Contact-form {
		flex-grow: 1;
	}
</style>