---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import Navigation from "../components/Navigation.astro";
import GoogleAnalitics from "../utils/GoogleAnalitics.astro";

const {title} = Astro.props;
---

<html lang="es">
	<head>
        
        <GoogleAnalitics />

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>
	</head>
	<body>
		
        <Navigation />

        <slot />

        <script src={bootstrap}></script>

	</body>
</html>


<style is:global>
	
    body {

    }


</style>